body {
    background-color: rgb(247, 247, 247);
}

#heading {
    text-align: center;
    background-color: #a3243d;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    border: solid black;
}

div {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a {
   text-decoration: none;
   color: black;
}

.links {
    display: flex;
    text-align: center;
}

.chicken {
    width:180px;
    height:180px;
    background-color:#a3243d;
    color: black;
    border:solid black;
    margin: auto;
    line-height: 180px;
}

.schab {
    width:180px;
    height:180px;
    background-color:#a3243d; 
    color: black;
    border:solid black;
    margin: auto;
    line-height: 180px;
}

.eggs {
    width:180px;
    height:180px;
    background-color:#a3243d;
    color: black;
    border:solid black;
    line-height: 180px;
    margin: auto;
}

* {
    border: 1px;
    border-color: aqua;
}