body {
    background-color: rgb(247, 247, 247);
}

#heading {
    text-align: center;
    background-color: rgb(163, 36, 61);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

.link {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    text-align: left;
}
